<br/>
<h1>Welcome to Sweater Weather!</h1>
<br/>
<h2>To interact with the application,
  please reference the <a href="https://github.com/Mackenzie-Frey/sweater_weather/blob/master/README.md">documentation</a>
  and utilize an HTTP client.</h2>
